.call-logs-container {
  padding-bottom: 20px;
  min-width: 900px;
  height: 100%;
}

.call-logs-content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 30px);
}

.call-logs-content2 {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(255, 255, 255, 0.063);
  border-radius: 1rem;
  padding-left: 0px;
  flex: 1 1 auto; /* Adjust this to ensure proper flex behavior */
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.063);
  border-radius: 1rem;
  overflow: hidden;
}

.search-bar-fixed {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.063);
  z-index: 1;
}

.search-call-history-container {
  height: calc(100% - 40px); /* Adjust according to the height of the search bar */
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; /* Ensure the right section takes up the remaining space */
  margin-left: 10px;
  overflow: hidden;
}

.search-call-history-container {
  overflow-y: auto;
  height: 100%;
}

.call-history {
  overflow-y: auto;
  height: 100%;
}

.c-d {
  width: 320px;
}

.c-b {
  border: 1px solid;
  border-bottom: none;
}

.custom-border {
  border-color: rgba(255, 255, 255, 0.063);
}

.input-bg {
  background-color: hsl(var(--background));
}

.des-color {
  color: rgba(255, 255, 255, 0.533);
}

.description {
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.533);
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #1a325c;
  -webkit-box-shadow: 2px 2px 4px 0px #1a325c;
  box-shadow: 2px 2px 4px 0px #1a325c;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  width: 90%;
  align-self: center;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #16214beb;
  color: #16214beb;
}

.mfaudio {
  background-color: var(--pink);
  width: 100%;
  border-radius: 2em;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* .page-content {
  overflow-y: hidden;
  height: 100vh;
} */

/* .call-logs-container {
  padding-bottom: 20px;
  min-width: 900px;
  height: 100%;
}

.call-logs-content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 30px);
}

.call-logs-content2 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.063);
    border-radius: 1rem;
    padding-left: 0px;
    flex: 1 1 0%
}


.left-section {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.063);
  border-radius: 1rem;
  overflow: hidden;
}

.search-call-history-container {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.063);
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  margin-left: 10px;
  overflow-y: auto;

}

.search-call-history-container{
  overflow-y: auto;
  height: 100%;
}

.call-history {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.c-d {
  width: 320px;

}

.c-b {
  border: 1px solid;
  border-bottom : none;
}

.c-sb {
  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
}




.custom-border {
  border-color: rgba(255, 255, 255, 0.063);
}

.input-bg {
  background-color: hsl(var(--background));
}

.des-color {
  color: rgba(255, 255, 255, 0.533)
}

.description {
  margin-top: "0px";
  color: rgba(255, 255, 255, 0.533)
}




audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #1a325c;
-webkit-box-shadow:  2px 2px 4px 0px #1a325c;
box-shadow: 2px 2px 4px 0px #1a325c;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
width: 90%;
align-self: center;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color:   #16214beb;
     color: #16214beb;
     }
     
.mfaudio{
        background-color: var(--pink);/*no work :(*/
        /* width: 100%; */
        /* border-radius: 2em;
    }

    .audio-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
      }
 */ 
